@import "tailwindcss";
@import "./styles/base.css";
@import "./styles/components.css";
@import "./styles/theme.css";
@import "./styles/auth.css";
@import "./styles/scroll.css";

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  src: url("../src/assets/fonts/Raleway-Italic-VariableFont_wght.ttf");
}

.str-video,
.str-video * {
  color: #fff;
}

.str-video__icon {
  color: #fff !important;
  fill: #fff !important;
}

.str-video__call-controls__button {
  color: #fff !important;
}

.str-video__menu-container,
.str-video__menu {
  background: #1f1f1f !important;
  color: #fff !important;
}
